{{!-- template for user dashboard --}}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Your blogs:</h2>
        <a href="/new-post" class="btn btn-primary">New Blog</a>
    </div>
    <div class="row mt-4">
        {{#each posts}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.content}}</p>
                    <a href="/post/{{this.id}}" class="btn btn-secondary">Read More</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
