{{!-- tempate for homepage --}}

{{#if posts.length}}
<div class="row">
    {{#each posts}}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{truncateText content 40}}</p>
                <a href="/post/{{id}}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>No posts available at the moment.</p>
{{/if}}
