{{!-- tempate for homepage --}}

<div class="jumbotron bg-dark text-white text-center">
    <h1 class="display-4">Tech Blogs - Where tech minds unite to share insights, spark ideas, and stay ahead in the digital world.</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <!-- Placeholder for blog post preview -->
        <div class="card mb-4">
            <img src="..." class="card-img-top" alt="Post Image">
            <div class="card-body">
                <h5 class="card-title">Post Title</h5>
                <p class="card-text">Short description of the post...</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <!-- Repeat for other posts -->
</div>
