{{!-- tempate for homepage --}}

<div class="row">
    {{#each posts}}
    <div class="col-md-4">
        <!-- Placeholder for blog post preview -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{truncateText content 40}}</p>
                <a href="/post/{{id}}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    {{/each}}
    <!-- Repeat for other posts -->
</div>
